# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# editor
.idea/
.vscode/

# misc
**/.DS_Store
**/*.md
.gitignore
docker-compose*.yml